@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Sora", Inter, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  /* F O N T - S I Z E */
  h1,
  .h1 {
    @apply text-4xl;
  }
  h2,
  .h2 {
    @apply text-2xl;
  }
  h3,
  .h3 {
    @apply text-2xl;
  }
  h4,
  .h4 {
    @apply text-xl font-[600] tracking-[0.1rem];
  }
  body,
  p,
  .p {
    @apply leading-[1.5] text-lg;
  }
}
